@import 'bootstrap/dist/css/bootstrap.min.css';

#main-container{
    place-items: center center;
    display: grid;
    background: linear-gradient(90deg, rgba(78,255,0,1) 0%, rgba(38,165,130,1) 43%, rgba(35,52,179,1) 100%);
    min-height: 100vh;
}
#card-login{
    place-items: center center;
    width: 35%;
    height: 103%;

}
#boton{
    background: linear-gradient(90deg, rgba(78,255,0,1) 0%, rgba(38,165,130,1) 43%, rgba(35,52,179,1) 100%);
}
#sign-in-form{
    max-width: 330px;
}
.form-control:focus{
    z-index: 5;
}

.body {
    display: grid;
    background: linear-gradient(90deg, rgba(78,255,0,1) 0%, rgba(38,165,130,1) 43%, rgba(35,52,179,1) 100%);
    min-height: 100vh;
}